.blog {
  h1 {
    @media screen and (max-width: 767px) {
      margin-bottom: 44px;
      margin-top: 47px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 82px;
      margin-top: 70px;
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 96px;
      margin-top: 113px;
    }
  }

  .posts {
    .body {
      z-index: 0;
    }
  }
}
