.button {
  @include font--work-sans;

  background-color: $color--white;
  border: 1px solid $color--unknown-1;
  color: $color--grey;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  padding: 14px 32px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    opacity: .85;
  }

  &:focus {
    opacity: .75;
  }

  &.button-success {
    background-color: $color--theme-2;
    border-color: $color--theme-2;
    color: $color--white;
    font-weight: 600;
  }

  &.button-info {
    color: $color--theme-2;
  }

  @media screen and (max-width: 320px) {
    padding: 14px 24px;
  }
}
