.cards {
  margin-bottom: 40px;
  overflow: hidden;
  text-align: center;
  width: 100%;

  @media screen and (max-width: 1439px) {
    margin-bottom: 0;
  }

  .window {
    font-size: 0;
    margin: auto;
    padding-bottom: 1px;

    @media screen and (max-width: 480px) {
      width: 100%;
    }

    @media screen and (min-width: 481px) {
      width: 375px;
    }

    @media screen and (min-width: 768px) {
      overflow: hidden;
      width: 750px;
    }

    @media screen and (min-width: 1440px) {
      width: 1152px;
    }
  }

  .tns-ovh {
    overflow: visible;
  }

  .cards-list {
    display: inline-block;
    white-space: nowrap;
  }

  .card {
    box-sizing: content-box;
    display: inline-block;
    font-size: 0;
    position: relative;
    text-align: left;
    vertical-align: top;
    white-space: normal;

    @media screen and (max-width: 480px) {
      width: 100vw;
    }

    @media screen and (min-width: 481px) {
      width: 325px;
    }

    @media screen and (min-width: 1440px) {
      width: 334px;
    }

    .image-wrapper {
      height: 223px;
      position: relative;
      width: 100%;

      @media screen and (min-width: 1440px) {
        height: 230px;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }

    .body {
      background-color: $color--white;
      border: 1px solid $color--unknown-1;
      box-sizing: border-box;
      padding: 32px 35px 119px 40px;
      width: 100%;

      @media screen and (max-width: 480px) {
        border-left-width: 0;
        border-right-width: 0;
      }
    }

    h2,
    h3 {
      margin-bottom: 30px;
    }

    .read-more-link {
      display: inline-block;
      margin-top: 7px;
    }

    .footer {
      box-sizing: border-box;
      position: absolute;

      @media screen and (min-width: 320px) {
        bottom: 47px;
        left: 0;
        width: 100%;
      }

      @media screen and (min-width: 481px) {
        bottom: 32px;
        left: -13px;
        width: 325px;
      }

      @media screen and (min-width: 1440px) {
        left: -24px;
        width: 335px;
      }

      .button {
        position: relative;
        z-index: 2;
      }

      &::before {
        background-color: $color--white;
        bottom: -13px;
        content: '';
        position: absolute;
        top: -13px;
        width: 3px;
        z-index: 1;

        @media screen and (min-width: 320px) {
          display: none;
        }

        @media screen and (min-width: 481px) {
          display: block;
          left: 12px;
        }

        @media screen and (min-width: 1440px) {
          left: 23px;
        }
      }
    }

    .price {
      position: absolute;
      text-align: right;
      top: 50%;
      transform: translateY(-50%);

      @media screen and (min-width: 320px) {
        right: 30px;
      }

      @media screen and (min-width: 481px) {
        right: 17px;
      }

      @media screen and (min-width: 1440px) {
        right: 16px;
      }
    }
  }

  &.cards-mini {
    @media screen and (max-width: 767px) {
      margin-bottom: 17px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 53px;
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 80px;
    }

    .window {
      overflow: hidden;

      @media screen and (max-width: 767px) {
        padding-left: 13px;
        width: 333px;
      }

      @media screen and (max-width: 480px) {
        padding-left: 0;
        width: 320px;
      }
    }

    .card {
      @media screen and (max-width: 767px) {
        margin-right: 37px;
        width: 320px;
      }

      @media screen and (min-width: 768px) {
        margin-right: 37px;
      }

      @media screen and (min-width: 1440px) {
        margin-right: 50px;
      }

      &:last-child {
        margin-right: 0;
      }

      .body {
        border-top: 0;
        padding: 36px 37px 139px;

        @media screen and (max-width: 480px) {
          border-left-width: 1px;
          border-right-width: 1px;
        }

        @media screen and (max-width: 320px) {
          border-left-width: 0;
          border-right-width: 0;
        }
      }

      h2,
      h3 {
        margin-bottom: 0;

        a {
          color: $color--dark-grey;
          text-decoration: none;

          &:hover {
            color: $color--dark-grey-85;
          }

          &:focus {
            color: $color--dark-grey-75;
          }
        }
      }

      .link-wrapper {
        background-color: $color--theme-1;
        display: inline-block;
        opacity: 0;
        position: absolute;
        top: 0;
        vertical-align: middle;
        width: 100%;

        &:hover {
          opacity: 1;
        }

        @media screen and (max-width: 480px) {
          height: 221px;
        }

        @media screen and (min-width: 768px) {
          height: 223px;
        }

        @media screen and (min-width: 1440px) {
          height: 230px;
        }
      }

      .link {
        background-color: $color--theme-1;
        bottom: 0;
        display: inline-block;
        font-size: 16px;
        left: 0;
        line-height: 230px;
        margin-top: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: center;
        text-decoration: none;
        top: 0;
        transition: opacity .3s ease-in-out;
        vertical-align: middle;
        z-index: 1;

        &:hover {
          opacity: 1;
        }

        @media screen and (max-width: 480px) {
          line-height: 221px;
        }

        @media screen and (min-width: 768px) {
          line-height: 223px;
        }

        @media screen and (min-width: 1440px) {
          line-height: 230px;
        }
      }
    }
  }
}
