.cards {
  margin-bottom: 40px;
  text-align: center;
  width: 100%;

  @media screen and (max-width: 1439px) {
    margin-bottom: 0;
  }

  .window {
    font-size: 0;
    margin: auto;
    overflow: hidden;
    padding-bottom: 1px;

    @media screen and (max-width: 480px) {
      width: 100%;
    }

    @media screen and (min-width: 481px) {
      padding-left: 13px;
      width: 338px;
    }

    @media screen and (min-width: 768px) {
      padding-left: 13px;
      width: 713px;
    }

    @media screen and (min-width: 1440px) {
      padding-left: 24px;
      width: 1126px;
    }
  }

  .tns-ovh {
    overflow: visible;
  }

  .cards-list {
    display: inline-block;
    white-space: nowrap;
  }

  .card {
    box-sizing: content-box;
    display: inline-block;
    font-size: 0;
    position: relative;
    text-align: left;
    vertical-align: top;
    white-space: normal;

    @media screen and (max-width: 480px) {
      width: 100vw;
    }

    @media screen and (min-width: 481px) {
      width: 325px;
    }

    @media screen and (min-width: 1440px) {
      width: 334px;
    }

    .image-wrapper {
      height: 230px;
      width: 100%;

      @media screen and (max-width: 480px) {
        height: auto;
      }

      @media screen and (min-width: 768px) {
        height: 223px;
      }

      img {
        height: 100%;
        width: 100%;

        @media screen and (max-width: 480px) {
          height: auto;
        }
      }
    }

    .body {
      background-color: $color--white;
      border: 1px solid $color--unknown-1;
      box-sizing: border-box;
      padding: 32px 35px 119px 40px;
      width: 100%;
    }

    h3 {
      margin-bottom: 30px;
    }

    ul {
      color: $color--dark-grey;
      font-family: Muli;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.57;

      li {
        margin-bottom: 6px;
      }
    }

    .marker {
      background-color: $color--theme-2;
      display: inline-block;
      height: 6px;
      line-height: 6px;
      margin-right: 10px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
    }

    .link {
      color: $color--theme-2;
      display: inline-block;
      font-family: 'Work Sans';
      font-size: 12px;
      font-weight: 600;
      line-height: 2.16;
      margin-top: 7px;
      text-decoration: none;
      text-transform: uppercase;
    }

    .footer {
      box-sizing: border-box;
      position: absolute;

      @media screen and (min-width: 320px) {
        bottom: 47px;
        left: 0;
        width: 100vw;
      }

      @media screen and (min-width: 481px) {
        bottom: 32px;
        left: -13px;
        width: 325px;
      }

      @media screen and (min-width: 1440px) {
        left: -24px;
        width: 335px;
      }

      &::before,
      &::after {
        background-color: $color--white;
        content: '';
        height: 13px;
        position: relative;
        width: 3px;

        @media screen and (min-width: 320px) {
          display: none;
        }

        @media screen and (min-width: 481px) {
          display: block;
          left: 12px;
        }

        @media screen and (min-width: 1440px) {
          left: 23px;
        }
      }
    }

    .price {
      position: absolute;
      text-align: right;
      top: 50%;
      transform: translateY(-50%);

      @media screen and (min-width: 320px) {
        right: 30px;
      }

      @media screen and (min-width: 481px) {
        right: 17px;
      }

      @media screen and (min-width: 1440px) {
        right: 16px;
      }
    }
  }
}
