.carousel {
  height: 366px;
  width: 464px;

  @media screen and (max-width: 1199px) {
    margin: auto;
  }

  @media screen and (max-width: 767px) {
    height: auto;
    margin: 0 -16px;
    width: 100%;
  }

  .window {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 2;

    @media screen and (max-width: 767px) {
      width: 100vw;
    }
  }

  .image-list {
    display: inline-block;
    left: 0;
    position: relative;
    top: 0;
    transition: left .3s ease-in-out;
    white-space: nowrap;
    width: auto;
  }

  .image-warpper {
    display: inline-block;
    height: 310px;
    width: 464px;

    img {
      height: 100%;
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      height: auto;
      width: 100vw;
    }
  }

  &.carousel_shadow {
    position: relative;

    @media screen and (max-width: 767px) {
      margin: 30px auto;
    }

    &::before {
      border-bottom: 30px solid transparent;
      border-left: 590px solid $color--white;
      box-sizing: border-box;
      content: '';
      display: block;
      height: 430px;
      left: 53px;
      position: absolute;
      top: -35px;
      width: 590px;
      z-index: 1;

      @media screen and (max-width: 1439px) {
        border-left: 465px solid $color--white;
        width: 465px;
      }

      @media screen and (max-width: 1199px) {
        border-left: 659px solid $color--white;
        height: 447px;
        left: -42px;
        top: -45px;
        width: 659px;
      }

      @media screen and (max-width: 767px) {
        border-bottom: 15px solid transparent;
        border-left: 100vw solid $color--white;
        bottom: -30px;
        height: auto;
        left: 50%;
        padding-bottom: 30px;
        padding-top: 30px;
        top: -30px;
        transform: translateX(-50%);
        width: 100vw;
      }
    }
  }
}
