.contacts {
  position: relative;
  z-index: 1;

  @media screen and (max-width: 767px) {
    padding-top: 0;
  }

  @media screen and (min-width: 768px) {
    padding-top: 105px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 95px;
  }

  .body {
    background-color: $color--white;
    border: 1px solid $color--unknown-1;
    padding: 65px 80px 95px;
    position: absolute;
    top: 0;
    width: 560px;
    z-index: 2;

    @media screen and (max-width: 767px) {
      border-left: 0;
      border-right: 0;
      padding: 63px 16px;
      position: relative;
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      left: 50%;
      transform: translateX(-50%);
    }

    @media screen and (min-width: 1440px) {
      left: 153px;
      transform: translateX(0);
    }

    h2 {
      @media screen and (max-width: 767px) {
        margin-bottom: 37px;
      }

      @media screen and (min-width: 768px) {
        margin-bottom: 52px;
      }

      @media screen and (min-width: 1440px) {
        margin-bottom: 46px;
      }
    }

    p {
      @media screen and (max-width: 767px) {
        margin-bottom: 43px;
      }

      @media screen and (min-width: 768px) {
        margin-bottom: 42px;
      }

      @media screen and (min-width: 1440px) {
        margin-bottom: 48px;
      }
    }

    .button-wrapper {
      position: absolute;
      right: -17px;
      top: 59px;

      @media screen and (max-width: 767px) {
        right: 0;
        top: 69px;
      }

      &::before,
      &::after {
        background-color: $color--white;
        content: '';
        height: 15px;
        position: absolute;
        right: 15px;
        width: 3px;
      }

      &::before {
        top: 0;
        transform: translateY(-100%);
      }

      &::after {
        bottom: 0;
        transform: translateY(100%);
      }

      .button {
        @media screen and (max-width: 767px) {
          font-size: 11px;
          padding: 15px 44px 15px 15px;

          .arrow {
            background-color: transparent;
            border-bottom-color: $color--white;
            border-left-color: transparent;
            border-right-color: $color--white;
            border-style: solid;
            border-top-color: transparent;
            border-width: 2px;
            display: inline-block;
            height: 8px;
            position: relative;
            transform: rotate(-45deg);
            vertical-align: middle;
            width: 8px;
          }
        }
      }
    }

    li {
      margin-bottom: 19px;
      position: relative;
      text-align: right;

      @media screen and (max-width: 767px) {
        text-align: left;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        color: $color--unknown-3;
        content:
        '...............................'
        '...............................'
        '...............................'
        '...............................';
        float: left;
        font-family: Muli;
        font-size: 14px;
        font-weight: 300;
        left: 0;
        line-height: 16px;
        position: absolute;
        top: 6px;
        white-space: nowrap;
        width: 0;
        z-index: 3;

        @media screen and (max-width: 767px) {
          content: none;
        }
      }

      span {
        background-color: $color--white;
        display: inline-block;
        font-size: 16px;
        line-height: 26px;
        position: relative;
        vertical-align: baseline;
        z-index: 4;
  
        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }

      .property {
        clear: both;
        color: $color--theme-2;
        float: left;
        font-family: 'Work Sans';
        font-weight: 600;
        margin-top: 1px;
        padding-right: 2px;
        text-transform: uppercase;

        @media screen and (max-width: 767px) {
          float: none;
          margin-bottom: 8px;
        }
      }

      .value {
        color: $color--dark-grey;
        font-family: Muli;
        padding-left: 2px;
        text-align: right;

        @media screen and (max-width: 767px) {
          text-align: left;
        }
      }
    }
  }

  .map-wrapper {
    height: 600px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    &.map-wrapper-shadow {
      &::after {
        border-bottom: 50px solid $color--white;
        border-right: 1440px solid transparent;
        bottom: 0;
        content: '';
        height: 50px;
        position: absolute;
      }
    }

    img {
      height: 100%;
      width: 100%;
    }
  }
}
