.dropdown {
  display: inline-block;
  position: relative;

  &.opened {
    .dropdown-backdrop {
      display: block;
    }

    .dropdown-menu {
      border: 1px solid $color--unknown-1;
      height: auto;
      opacity: 1;
    }
  }

  .dropdown-backdrop {
    background-color: transparent;
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
  }

  .dropdown-toggle {
    @include font--muli;

    background-color: transparent;
    border: 0;
    color: $color--header-65;
    cursor: pointer;
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    padding: 0 10px 0 0;
    position: relative;
    text-transform: uppercase;

    &::after {
      border-bottom: 1px solid $color--header-65;
      border-left: 1px solid $color--header-65;
      border-right: 1px solid transparent;
      border-top: 1px solid transparent;
      content: '';
      display: inline-block;
      height: 5px;
      margin-left: 5px;
      position: absolute;
      top: 3px;
      transform: rotate(-45deg);
      vertical-align: top;
      width: 5px;
    }

    &:hover {
      opacity: .75;
    }

    &:focus {
      opacity: .65;
    }
  }

  .dropdown-menu {
    background-color: $color--white;
    border: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 40px;
    transition: opacity .3s ease-in-out;
    width: 100px;
    z-index: 990;

    .dropdown-option {
      margin: 0;

      &:first-child {
        a {
          padding-top: 16px;
        }
      }

      &:last-child {
        a {
          padding-bottom: 16px;
        }
      }
    }

    a {
      @include font--muli;

      box-sizing: border-box;
      color: $color--header-65;
      display: block;
      font-size: 11px;
      font-weight: 600;
      line-height: 13px;
      padding: 6px 20px;
      text-decoration: none;
      width: 100%;
    }
  }

  &.currency-dropdown {
    .dropdown-menu {
      width: 220px;

      li {
        &:first-child {
          a {
            padding-top: 6px;
          }
        }

        &:last-child {
          a {
            padding-bottom: 6px;
          }
        }
      }
    }

    .dropdown-menu-content {
      max-height: 143px;
      overflow: auto;
      text-align: left;
      width: 100%;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: $color--dark-grey-05;
      }

      &::-webkit-scrollbar-thumb {
        background-clip: content-box;
        background-color: $color--dark-grey-80;
        border: 2px solid transparent;
        border-radius: 5px;
        box-sizing: border-box;
      }

      .dropdown-option {

        &:first-child {
          a {
            padding-top: 14px;
          }
        }

        &:last-child {
          a {
            padding-bottom: 16px;
          }
        }
      }
    }

    .currency-search {
      @include font--muli;

      border: 0;
      border-bottom: 1px solid $color--unknown-1;
      color: $color--header-65;
      font-size: 11px;
      font-weight: 600;
      line-height: 13px;
      padding: 13px 20px 10px;
      width: 100%;

      &::placeholder {
        color: $color--grey;
      }
    }

    .currency-code {
      float: right;
    }
  }
}
