.gallery {
  overflow-x: hidden;

  @media screen and (max-width: 767px) {
    margin: 33px auto 43px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 55px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 70px;
  }

  .carousel-wrapper {
    @media screen and (max-width: 767px) {
      padding: 26px 0;
    }

    @media screen and (min-width: 768px) {
      padding: 45px 0 70px;
    }

    @media screen and (min-width: 1280px) {
      padding: 45px 0 70px;
    }
  }

  .carousel {
    &.carousel-shadow {
      margin: auto;

      &::before {
        height: 477px;
        left: -45px;
        top: -45px;

        @media screen and (min-width: 768px) {
          border-left-width: 590px;
        }
    
        @media screen and (min-width: 1280px) {
          border-left-width: 660px;
        }

        @media screen and (max-width: 767px) {
          border-left-width: 100vw;
          bottom: -26px;
          height: auto;
          left: 0;
          top: -27px;
        }
      }
    }
  }

  .carousel-pagination-wrapper {
    padding-top: 15px;
    position: relative;
    text-align: center;
  }

  .carousel-pagination {
    background-color: transparent;
    display: inline-block;
    left: 0;
    position: relative;
    top: 0;
    transform: translate(0, 0);
    z-index: 999;
  }

  &+.contacts {
    background-color: transparent;
  }

  .carousel-pagination {
    .right-arrow,
    .left-arrow {
      border-color: $color--theme-2;
    }

    .delimiter {
      background-color: $color--theme-2;
    }
  }
}
