.desktop-only {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.mobile-only {
  @media screen and (min-width: 769px) {
    display: none !important;
  }
}

.no-xs-padding {
  @media screen and (max-width: 575px) {
    padding: 0 !important;
  }
}

.no-xs-margin {
  @media screen and (max-width: 575px) {
    margin: 0 !important;
  }
}

.overflow-x-xs-hidden {
  @media screen and (max-width: 575px) {
    overflow-x: hidden !important;
  }
}

.text-align-center {
  text-align: center !important;
}

.content-shadow {
  position: relative;

  &::before {
    border-right: 100vw solid $color--theme-1;
    box-sizing: border-box;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;

    @media screen and (max-width: 768px) {
      top: -57px;
    }

    @media screen and (max-width: 767px) {
      top: -31px;
    }

    @media screen and (max-width: 320px) {
      border-bottom: 27px solid transparent;
      height: 1015px;
    }

    @media screen and (min-width: 321px) {
      border-bottom: 66px solid transparent;
      height: 1366px;
    }

    @media screen and (min-width: 992px) {
      border-bottom: 180px solid transparent;
      height: 1171px;
    }
  }
}

.date-range {
  color: $color--theme-2;
  font-family: 'Work Sans';
  font-size: 11px;
  font-weight: 500;
  line-height: 2.36;
  margin-bottom: 23px;

  i {
    margin-right: 9px;
  }
}
