.desktop-only {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.mobile-only {
  @media screen and (min-width: 769px) {
    display: none !important;
  }
}

.tablet-see {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.mobile-see {
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}

.no-xs-padding {
  @media screen and (max-width: 575px) {
    padding: 0 !important;
  }
}

.no-xs-margin {
  @media screen and (max-width: 575px) {
    margin: 0 !important;
  }
}

.overflow-x-xs-hidden {
  @media screen and (max-width: 575px) {
    overflow-x: hidden !important;
  }
}

.text-align-center {
  text-align: center !important;
}

.text-align-right {
  text-align: right !important;
}

.content-shadow {
  background-color: $color--theme-1;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;

  @media screen and (max-width: 767px) {
    height: 1015px;
  }

  @media screen and (min-width: 768px) {
    height: 1406px;
  }

  @media screen and (min-width: 1440px) {
    height: 1171px;
  }

  &::after {
    border-right: 100vw solid transparent;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;

    @media screen and (max-width: 767px) {
      border-bottom: 30px solid $color--white;
    }

    @media screen and (min-width: 768px) {
      border-bottom: 60px solid $color--white;
    }

    @media screen and (min-width: 1440px) {
      border-bottom: 180px solid $color--white;
    }
  }
}

.date-range {
  @include font--muli;

  color: $color--theme-2;
  font-size: 11px;
  font-weight: 600;
  line-height: 2.36;
  margin-bottom: 23px;

  i {
    margin-right: 9px;
  }
}

.elements-group {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;

  @media screen and (max-width: 480px) {
    display: block;
  }
}
