header {
  margin: auto;
  max-width: 1136px;
  width: 100%;

  .header {
    color: $color--header-65;
    font-family: 'Work Sans';
    font-size: 11px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;

    .info-box {
      padding-right: 27px;

      i {
        color: $color--theme-2;
        padding-right: 6px;
      }
    }
  }
}
