header {
  position: relative;
  width: 100%;
  z-index: 1;

  .header,
  .info-box {
    @include font--muli;

    color: $color--header-65;
    font-size: 11px;
    font-weight: 600;
  }

  .header {
    height: 40px;
    line-height: 40px;
    width: 100%;

    &.grey-theme {
      background-color: $color--theme-1;
    }

    .content-wrapper {
      margin: auto;
      max-width: 1136px;
      width: 100%;

      @media screen and (max-width: 1200px) {
        max-width: 1040px;
      }
    
      @media screen and (max-width: 1080px) {
        max-width: 736px;
      }
    }
  }

  .right-side {
    float: right;
    text-align: right;

    .dropdown {
      &:first-child {
        margin-right: 20px;
      }
    }
  }

  .info-box {
    padding-right: 27px;

    i {
      color: $color--theme-2;
      padding-right: 6px;
    }
  }

  @media screen and (max-width: 768px) {
    box-sizing: border-box;
    padding: 0 51px 0 77px;
  }

  @media screen and (max-width: 767px) {
    padding: 0;
  }
}
