.home {
  .info {
    font-size: 0;

    @media screen and (max-width: 767px) {
      margin: 33px auto 83px;
    }

    @media screen and (min-width: 768px) {
      margin: 55px auto 110px;
    }

    @media screen and (min-width: 1280px) {
      margin: 70px auto 173px;
      min-height: 430px;
    }

    .text-wrapper {
      @media screen and (min-width: 768px) {
        padding-top: 0;
        text-align: center;
      }

      @media screen and (min-width: 1280px) {
        text-align: left;
      }
    }

    h1 {
      @media screen and (max-width: 767px) {
        font-size: 40px;
        margin-bottom: 25px;
        text-align: left;
      }

      @media screen and (min-width: 768px) {
        margin-bottom: 37px;
        padding-top: 48px;
      }

      @media screen and (min-width: 1280px) {
        margin-bottom: 42px;
        padding-top: 55px;
      }
    }

    p {
      @media screen and (max-width: 767px) {
        margin-bottom: 41px;
        width: 100%;
      }

      @media screen and (min-width: 768px) {
        margin-bottom:  49px;
        margin-left: auto;
        margin-right: auto;
        width: 368px;
      }

      @media screen and (min-width: 1280px) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .input-group {
      width: 160px;

      @media screen and (max-width: 767px) {
        width: 100%;
      }

      &.check-out {
        @media screen and (max-width: 767px) {
          margin: -1px 0;
        }
      }
    }

    .button-success {
      padding: 0;
      text-align: center;
      width: 145px;
    }

    .date-picker,
    .button-success {
      box-sizing: border-box;
      height: 48px;
      line-height: 48px;

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }

    .carousel-wrapper {
      @media screen and (min-width: 768px) {
        padding-bottom: 30px;
      }

      @media screen and (min-width: 1440px) {
        padding-bottom: 30px;
      }
    }

    .carousel {
      &.carousel-shadow {
        &::before {
          @media screen and (max-width: 1280px) and (min-width: 769px) {
            left: -45px;
            top: -45px;
          }
        }
      }
    }
  }

  .rooms {
    margin: auto;
    max-width: 1160px;
    position: relative;
    width: 100%;
    z-index: 1;

    @media screen and (min-width: 320px) {
      margin-bottom: 85px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 100px;
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 128px;
    }

    h2 {
      margin-bottom: 30px;

      @media screen and (min-width: 320px) {
        margin-top: 83px;
      }

      @media screen and (min-width: 768px) {
        margin-top: 110px;
      }

      @media screen and (min-width: 1440px) {
        margin-top: 173px;
      }
    }

    p {
      @media screen and (min-width: 320px) {
        margin-bottom: 40px;
      }

      @media screen and (min-width: 768px) {
        margin-bottom: 58px;
      }

      @media screen and (min-width: 1440px) {
        margin-bottom: 70px;
      }
    }

    h2,
    p {
      margin-left: 116px;
      margin-right: 67px;

      @media screen and (max-width: 768px) {
        margin-left: 16px;
        margin-right: 16px;
      }
    }

    &>.footer {
      text-align: center;

      .nav-tools {
        margin-bottom: 0;
      }
    }
  }

  .features {
    margin: auto;
    width: 100%;

    @media screen and (max-width: 767px) {
      margin-bottom: 73px;
      max-width: 100%;
      padding-left: 39px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 143px;
      max-width: 710px;
    }

    @media screen and (min-width: 1136px) {
      margin-bottom: 153px;
      max-width: 1136px;
    }

    &.features-shadow {
      position: relative;

      &::before {
        background-color: $color--theme-1-50;
        content: '';
        display: block;
        position: absolute;
        transform: skewY(7deg);

        @media screen and (max-width: 767px) {
          height: 1025px;
          left: -28px;
          top: -8px;
          width: 100%;
        }

        @media screen and (min-width: 768px) {
          height: 515px;
          left: -28px;
          top: 0;
          width: 410px;
        }

        @media screen and (min-width: 1136px) {
          height: 500px;
          left: -152px;
          top: -30px;
          width: 798px;
        }
      }
    }
  }

  .special-offers {
    text-align: center;

    h2 {
      box-sizing: border-box;
      display: inline-block;
      width: 100%;

      @media screen and (max-width: 767px) {
        margin-bottom: 47px;
        max-width: 767px;
        text-align: center;
      }

      @media screen and (min-width: 768px) {
        margin-bottom: 68px;
        max-width: 768px;
        padding-left: 89px;
        text-align: left;
      }

      @media screen and (min-width: 1440px) {
        margin-bottom: 98px;
        max-width: 1440px;
        padding-left: 0;
        text-align: center;
      }
    }

    .nav-tools {
      margin: 21px 0 26px;
    }

    @media screen and (max-width: 575px) {
      .cards {
        .card {
          .body {
            padding: 25px 45px 128px 17px;
          }

          .footer {
            bottom: 54px;
          }
        }
      }
    }
  }

  .what-people-say {
    @media screen and (max-width: 767px) {
      margin: 80px 0 57px;
    }

    @media screen and (min-width: 768px) {
      margin: 105px 0 100px;
    }

    @media screen and (min-width: 1440px) {
      margin: 136px 0 202px;
    }
  }

  .expert-opinion {
    @media screen and (max-width: 767px) {
      margin: 57px 0 76px;
    }

    @media screen and (min-width: 768px) {
      margin: 100px 0 104px;
    }

    @media screen and (min-width: 1440px) {
      margin: 202px 0 198px;
    }
  }

  .frequently-asked-questions {
    @media screen and (max-width: 767px) {
      margin: 76px 0 50px;
    }

    @media screen and (min-width: 768px) {
      margin: 104px 0 0;
    }

    @media screen and (min-width: 1440px) {
      margin: 198px 0 55px;
    }
  }

  .contacts {
    @media screen and (max-width: 767px) {
      margin: 50px 0 0;
    }

    @media screen and (min-width: 768px) {
      margin: 0;
    }

    @media screen and (min-width: 1440px) {
      margin: 55px 0 0;
    }
  }
}
