.logo {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: auto;

  .logo-title {
    @include font--courgette;
    font-size: 45px;
  }

  .logo-text {
    @include font--open-sans;

    color: $color--header-90;
    font-size: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
