.logo {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: auto;

  a {
    display: inline-block;
    text-decoration: none;
  }

  span {
    @include font--playfair-display;
    color: $color--dark-grey;
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;

    @media screen and (max-width: 767px) {
      font-size: 40px;
    }
  }

  img {
    height: 57px;
    vertical-align: middle;
  }
}
