.nav-tools {
  font-size: 0;
  margin: 25px 0;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  z-index: 2;

  &.white-theme {
    .nav-point {
      background-color: $color--white-2;

      &.active,
      &.tns-nav-active {
        background-color: $color--white;
      }
    }
  }

  .nav-point {
    background-color: $color--black-20;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    height: 6px;
    margin: 0 6px;
    width: 6px;

    &.active,
    &.tns-nav-active {
      background-color: $color--dark-grey;
    }
  }
}


