.navbar {
  margin: 45px auto 0;
  max-width: 1136px;
  position: relative;
  width: 100%;
  z-index: 980;

  @media screen and (max-width: 1200px) {
    max-width: 1040px;
  }

  @media screen and (max-width: 1080px) {
    max-width: 736px;
  }

  .navbar-toggler {
    background-color: $color--white;
    border: 1px solid $color--unknown-1;
    color: $color--theme-2;
    display: inline-block;
    font-size: 14px;
    padding: 0;
    position: relative;
    width: auto;
    z-index: 2;

    i {
      padding: 15px 17px;

      &.fa-times {
        padding: 15px 18px;
      }
    }
  }

  .navbar-menu {
    background-color: transparent;
    clear: both;
    display: inline-block;
    float: right;
    padding: 0;
    white-space: nowrap;
    z-index: 1;

    li {
      display: inline-block;
    }

    .navbar-link {
      @include font--muli;

      color: $color--header-90;
      display: block;
      font-size: 12px;
      font-weight: 600;
      margin: 0 25px;
      padding: 17px 0;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;

      &::before {
        background-color: $color--theme-3;
        content: '';
        height: 3px;
        left: 50%;
        position: absolute;
        top: 100%;
        transform: translate(-50%, -100%);
        width: 0;
      }

      &:hover {
        &::before {
          transition: width .3s ease-in-out;
          width: 100%;
        }
      }

      &.active {
        &::before {
          width: 100%;
        }
      }
    }

    .booking-link {
      margin-left: 20px;
    }

    .dropdown {
      .dropdown-toggle {
        &:hover {
          opacity: 1;
        }

        &:focus {
          opacity: 1;
          outline: none;
        }

      }

      .dropdown-menu {
        padding: 0;
        width: auto;

        a {
          color: $color--header-90;

          &:hover {
            color: $color--theme-2;
          }
        }

        .navbar-link {
          display: block;
          margin: 0;
          padding: 6px 20px;
          text-transform: none;
          width: auto;

          &::before {
            content: none;
          }

          &:hover {
            color: $color--theme-2;
          }
        }
      }

      .navbar-item {
        display: block;

        &:first-child {
          .navbar-link {
            padding-top: 16px;
          }
        }

        &:last-child {
          .navbar-link {
            padding-bottom: 16px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .navbar-mobile-only {
      display: none !important;
    }
  }

  @media screen and (max-width: 1023px) {
    margin: 57px auto 0;
    text-align: center;

    .navbar-desktop-only {
      display: none !important;
    }

    .navbar-toggler,
    .booking-link {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .navbar-toggler {
      left: 0;
    }

    .booking-link {
      margin: 0;
      right: 0;
    }

    .navbar-menu {
      background-color: $color--theme-1;
      float: none;
      left: -160px;
      margin: 0;
      padding: 177px 38px 46px 160px;
      position: absolute;
      text-align: left;
      top: -57px;
      transform: translateY(0);

      &:not(.opened) {
        display: none;
      }

      &.opened {
        border-bottom: 2px solid $color--unknown-1;
        border-right: 2px solid $color--unknown-1;
      }

      li {
        display: block;

        &.info-box-wrapper {
          display: block;
          margin-bottom: 13px;
          margin-top: 42px;

          &:last-child {
            margin-bottom: 0;
            margin-top: 0;
          }
        }
      }

      .navbar-link {
        display: inline-block;
        margin: 0;

        &::before {
          left: 0;
          transform: translateX(0);
        }
      }

      .dropdown {
        &:first-child {
          margin-right: 20px;
        }

        .dropdown-menu {
          left: 0;
          right: auto;
        }

        &.lang-menu {
          margin-top: 34px;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    margin: 31px 0 0;

    .navbar-toggler {
      left: 16px;
    }

    .logo {
      width: 100%;
    }

    .navbar-menu {
      left: 0;
      top: -31px;
      width: 100vw;

      &.opened {
        border-right: 0;
        padding: 127px 38px 41px 36px;
      }
    }
  }

  @media screen and (max-width: 575px) {
    padding-top: 77px;

    .navbar-toggler,
    .booking-link {
      top: 0;
      transform: translateY(0);
    }

    .booking-link {
      top: 2px;
    }

    .logo {
      padding-right: 0;
      text-align: center;
    }
  }

  @media screen and (max-width: 380px) {
    text-align: left;
  }
}
