.offers {
  margin: auto;
  max-width: 1440px;
  text-align: center;

  @media screen and (max-width: 768px) {
    text-align: left;
  }

  .offer {
    display: inline-block;
    position: relative;
    text-align: left;
    width: auto;

    @media screen and (min-width: 768px) {
      margin: 0 auto 55px;
      padding: 0 90px 53px 29px;
    }

    @media screen and (min-width: 1440px) {
      margin: 0 auto 76px;
      padding: 0 125px 56px 52px;
    }

    &.offer-shadow {
      &::before {
        border-bottom: 30px solid transparent;
        border-right: 350px solid $color--theme-1;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        top: 46px;
        width: 350px;
        z-index: 1;
      }
    }

    .body {
      background-color: $color--white;
      border: 1px solid $color--unknown-1;
      max-width: 730px;
      padding: 58px 182px 57px 68px;
      position: relative;
      width: 100%;
      z-index: 2;

      @media screen and (min-width: 768px) {
        max-width: 649px;
        padding: 48px 241px 52px 60px;
      }

      @media screen and (min-width: 1440px) {
        max-width: 730px;
        padding: 58px 182px 57px 68px;
      }

      &::before,
      &::after {
        background-color: $color--white;
        content: '';
        position: absolute;
      }

      &::before {
        height: 16px;
        right: -2px;
        transform: translateY(-100%);
        width: 3px;

        @media screen and (min-width: 768px) {
          top: 46px;
        }

        @media screen and (min-width: 1440px) {
          top: 33px;
        }
      }

      &::after {
        bottom: -2px;
        height: 3px;
        width: 19px;

        @media screen and (min-width: 768px) {
          right: 180px;
        }

        @media screen and (min-width: 1440px) {
          right: 120px;
        }
      }
    }

    h2,
    h3 {
      font-family: 'Playfair Display';
      font-size: 28px;
      line-height: 1.32;
      margin-bottom: 25px;
    }

    p {
      font-size: 14px;
      margin-bottom: 31px;
    }

    .read-more-link {
      color: $color--theme-2;
      font-family: 'Work Sans';
      font-size: 12px;
      font-weight: 600;
      line-height: 2.16;
      text-decoration: none;
      text-transform: uppercase;
    }

    .side {
      position: absolute;
      z-index: 3;

      @media screen and (min-width: 768px) {
        right: -60px;
        top: 46px;
        width: 240px;
      }

      @media screen and (min-width: 1440px) {
        right: -125px;
        top: 33px;
        width: 245px;
      }

      .image-wrapper {
        height: 180px;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .price {
        background-color: $color--white;
        border-left: 1px solid $color--unknown-1;
        border-right: 1px solid $color--unknown-1;

        @media screen and (min-width: 768px) {
          padding: 36px 36px 31px;
        }

        @media screen and (min-width: 1440px) {
          padding: 40px 36px 31px;
        }
      }

      .button-success {
        width: 100%;
      }
    }

    &.offer-reflection {
      @media screen and (min-width: 768px) {
        padding: 0 30px 51px 90px;
      }

      @media screen and (min-width: 1440px) {
        padding: 0 52px 56px 125px;
      }

      &.offer-shadow {
        &::before {
          left: auto;
          right: 0;
        }
      }

      .body {
        @media screen and (min-width: 768px) {
          padding: 51px 60px 49px 240px;
        }

        @media screen and (min-width: 1440px) {
          padding: 58px 70px 57px 182px;
        }

        &::before {
          height: 16px;
          left: -2px;
          transform: translateY(-100%);
          width: 3px;

          @media screen and (min-width: 768px) {
            top: 46px;
          }

          @media screen and (min-width: 1440px) {
            top: 33px;
          }
        }

        &::after {
          bottom: -2px;
          height: 3px;
          width: 19px;

          @media screen and (min-width: 768px) {
            left: 180px;
          }

          @media screen and (min-width: 1440px) {
            left: 120px;
          }
        }
      }

      .side {
        right: auto;

        @media screen and (min-width: 768px) {
          left: -60px;
        }

        @media screen and (min-width: 1440px) {
          left: -125px;
        }
      }
    }
  }
}
