.posts {
  margin: auto;
  max-width: 1440px;
  width: 100%;

  @media screen and (max-width: 767px) {
    padding-top: 140px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 144px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 0;
  }

  h2 {
    color: $color--white;
    font-family: 'Work Sans';
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 3.75px;
    line-height: 11px;
    margin-bottom: 21px;
    text-transform: uppercase;
  }

  h3 {
    color: $color--white;
    font-family: 'Playfair Display';
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    margin-bottom: 44px;

    @media screen and (max-width: 767px) {
      font-size: 36px;
      line-height: 46px;
      margin-bottom: 27px;
    }
  }

  p {
    color: $color--white;
    font-family: Muli;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 50px;

    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  .body {
    background-color: $color--theme-2;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 767px) {
      margin: auto;
      padding: 140px 16px 72px;
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      margin: auto;
      padding: 284px 215px 70px 89px;
      width: 768px;
    }

    @media screen and (min-width: 1440px) {
      margin: 0;
      margin-left: auto;
      padding: 102px 263px 90px 176px;
      width: 903px;
    }
  }

  .image-wrapper {
    height: 320px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 480px;
    z-index: 3;

    @media screen and (max-width: 767px) {
      height: 213px;
      top: -140px;
      width: 320px;
    }

    @media screen and (min-width: 768px) {
      top: -127px;
    }

    @media screen and (min-width: 1440px) {
      left: -384px;
      top: 76px;
      transform: translateX(0);
    }

    &.image-wrapper-shadow {

      &::before {
        border-bottom: 30px solid transparent;
        border-right: 464px solid $color--theme-1;
        content: '';
        height: 394px;
        left: -31px;
        position: absolute;
        top: -17px;

        @media screen and (max-width: 767px) {
          border-right: 290px solid $color--theme-1;
          height: 247px;
          left: 0;
          top: -4px;
        }
      }
    }

    .image-list {
      font-size: 0;
      overflow: hidden;
      white-space: nowrap;
    }

    img {
      height: 100%;
      left: 0;
      opacity: 0;
      position: relative;
      transition: opacity .7s ease-in-out;
      width: 100%;

      @for $i from 2 through 10 {
        &:nth-child(#{$i}) {
          left: -100% * ($i - 1);
        }
      }

      &.active {
        opacity: 1;
      }
    }
  }

  .post-list {
    display: block;
    font-size: 0;
    white-space: nowrap;

    .post {
      display: inline-block;
      transition: opacity 1s ease-in-out;
      white-space: normal;

      &.fade-in {
        opacity: 1;
      }

      &.fade-out {
        opacity: 0;
      }
    }
  }

  .carousel-pagination {
    background-color: transparent;
    bottom: 71px;
    left: 580px;
    transform: translateY(0);
    width: 171px;

    @media screen and (min-width: 768px) {
      bottom: 48px;
      left: 565px;
    }

    @media screen and (min-width: 1440px) {
      bottom: 71px;
      left: 579px;
    }

    .left-arrow,
    .right-arrow {
      border-color: $color--white;
    }

    .left-arrow {
      left: 0;
    }

    .right-arrow {
      right: 0;
    }

    .delimiter {
      background-color: $color--white;
    }

    .pages {
      li {
        color: $color--white;
        left: 56px;
      }
    }

    .count-page {
      color: $color--white;
      left: 94px;
    }
  }

  .nav-tools {
    bottom: 25px;
    left: 50%;
    margin: 0;
    position: absolute;
    transform: translateX(-50%);
  }
}
