.price {
  @include font--muli;

  color: $color--dark-grey-40;
  display: block;
  font-size: 9px;
  font-weight: 600;
  line-height: 11px;
  text-transform: uppercase;

  .value {
    @include font--pt-serif;

    color: $color--dark-grey;
    display: inline-block;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    line-height: 37px;
    margin: 4px 0 6px;
  }
}
