.simple-page {
  .info {
    @media screen and (max-width: 767px) {
      margin-top: 55px;
    }

    @media screen and (min-width: 768px) {
      margin-top: 66px;
    }

    @media screen and (min-width: 1280px) {
      margin-top: 102px;
    }

    .header {
      text-align: left;

      @media screen and (max-width: 767px) {
        padding: 0 16px;
      }

      @media screen and (min-width: 768px) {
        padding: 0 90px;
      }

      @media screen and (min-width: 1280px) {
        padding-left: 14%;
      }

      @media screen and (min-width: 1440px) {
        padding-left: 255px;
      }

      h2 {
        @media screen and (max-width: 767px) {
          font-size: 34px;
          line-height: 46px;
          margin-bottom: 32px;
        }

        @media screen and (min-width: 768px) {
          font-size: 38px;
          line-height: 60px;
          margin-bottom: 30px;
        }

        @media screen and (min-width: 1280px) {
          margin-bottom: 36px;
        }
      }

      .section-title {
        margin-bottom: 11px;

        @media screen and (min-width: 1280px) {
          padding-top: 16px;
        }
      }
    }

    .bulleted-list,
    .offer-text {
      margin-bottom: 16px;
    }

    .text-content {
      @include font--muli;

      color: $color--dark-grey;
      font-size: 15px;
      font-weight: 300;
      line-height: 26px;
    }
  }

  .nav-tools-wrapper {
    @media screen and (max-width: 767px) {
      min-height: 35px;
    }
  }

  .features {
    @media screen and (max-width: 767px) {
      margin-top: 50px;
    }

    @media screen and (min-width: 768px) {
      margin-top: 75px;
    }

    @media screen and (min-width: 1440px) {
      margin-top: 75px;
    }
  }

  .calendar {
    h2 {
      font-size: 39px;
      line-height: 60px;
      margin-bottom: 42px;
      margin-top: 81px;
    }
  }

  .cards {
    &.cards-mini {
      margin-bottom: 0;
    }

    h2 {
      @media screen and (max-width: 767px) {
        margin-bottom: 42px;
        margin-top: 65px;
      }

      @media screen and (min-width: 768px) {
        margin-bottom: 68px;
        margin-top: 86px;
      }

      @media screen and (min-width: 1440px) {
        margin-bottom: 69px;
        margin-top: 105px;
      }
    }

    .card {
      @media screen and (max-width: 480px) {
        margin-right: 0;
      }

      @media screen and (min-width: 768px) {
        margin-right: 37px;
      }

      @media screen and (min-width: 1440px) {
        margin-right: 50px;
      }
    }
  }
}
