.special-offers {
  h1 {
    @media screen and (max-width: 767px) {
      font-size: 34px;
      margin-bottom: 46px;
      margin-top: 47px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 52px;
      margin-top: 63px;
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 90px;
      margin-top: 115px;
    }
  }

  .filters {
    text-align: center;
    text-transform: capitalize;

    @media screen and (max-width: 767px) {
      margin-bottom: 23px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 38px;
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 37px;
    }

    span {
      @include font--muli;

      color: $color--dark-grey;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      margin-right: 28px;
    }
  }

  .cards-list {
    white-space: normal;

    .card {
      display: block;
      margin-bottom: 21px;

      &:last-child {
        @media screen and (max-width: 767px) {
          margin-bottom: 22px;
        }
      }
    }
  }

  .offers {
    .offer {
      &:last-child {
        @media screen and (min-width: 768px) {
          margin-bottom: 77px;
        }

        @media screen and (min-width: 1440px) {
          margin-bottom: 79px;
        }
      }
    }
  }

  .pagination {
    @media screen and (max-width: 767px) {
      margin-bottom: 12px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 50px;
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 30px;
    }
  }
}
