h1 {
  color: $color--dark-grey;
  font-family: 'Playfair Display';
  font-weight: bold;
  line-height: 1.25;
}

h1 {
  font-size: 48px;
}

p {
  color: $color--dark-grey;
  font-family: Muli;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.73;
}
